.section {
  margin-bottom: 10px;
}

.dropdown {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.icon {
  font-size: 20px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  color: #444;
  border-bottom: 1px solid #ccc;
  min-width: 500px;
  width: 35vw;
}

.content p {
  padding: 10px 0;
  margin: 0;
}
